# Python compiled files #
#########################
*.pyc

# JSON files #
##############
*.json

# ipynb checkpoints #
###################
*checkpoint.ipynb
**/.ipynb_checkpoints/*

# Modelica #
############
*_log.txt
buildlog.txt
dslog.txt
dsmodel.c
*.xml