# Python compiled files #
#########################
*.pyc

# JSON files #
##############
*.json

# ipynb checkpoints #
###################
*checkpoint.ipynb
**/.ipynb_checkpoints/*

# Modelica #
############
*.mat
*_log.txt
buildlog.txt
ds*.txt
dsmodel*.c
*.xml
*.h
dymosim.exe
request
stop